<% obj.each do |article|%>
<div class="row">
<div class = "col-md-8 col-md-offset-2">
  <div class = "well well-lg">
  
    <article>
      <div class = "article-title">
        <%= article.title %>
      </div>
      <hr>
      <div class = "article-body">
        <%= article.description %><br>
        <hr>
        <small>Created By <%= article.user.username if article.user %> ,
        <%= time_ago_in_words(article.created_at)%> ago</small>
      </div>
      <hr>
      <div class = "action-style">
        <%= link_to  "Read More..", show=article_path(article.id),class: "btn btn-info btn-xs" %>
        <%if article.categories.any? %>
         <p>Categories <%= render article.categories %></p>
        <%end%>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          <%= link_to  "Edit Article", edit_article_path(article.id),class: "btn btn-success btn-xs" %>
          <%= link_to "Delete" ,article_path(article.id) ,class: "btn btn-danger btn-xs", method: :delete , data: {confirm: "are you sure?"}%>
        <% end %>
      </div>
    </article>
  </div>
</div>
</div>
<% end %>