<article>
  <h2>
    <%= @article.title %>
  </h2>
  <div class = "well ">
      <%= @article.description %>
    </div>
</article>
<hr>
<div class = "row action-style">
  
      
    <strong><%= link_to "Article List", articles_path,class: "btn btn-info btn-xs" %><strong>
      
  
  
    <strong><%= link_to  "Edit Article", edit_article_path(@article.id),class: "btn btn-success btn-xs" %></strong>
    <strong><%= link_to "Delete" ,article_path(@article.id) ,class: "btn btn-danger btn-xs", method: :delete , data: {confirm: "are you sure?"}%></strong>
  
</div>

